* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    padding: 2rem 15rem;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}

input {
    border: 1px solid #dfe1e5;
    border-radius: 6px;
    width: 50%;
    height: 40px;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 16px;
}

input:focus {
    outline: none;
}